[submodule "frontend"]
	path = frontend
	url = https://github.com/mrdaliselmi/PFA-frontend.git
[submodule "chatbot-backend"]
	path = chatbot-backend
	url = https://github.com/Lakhdher/PFA
[submodule "forum-backend"]
	path = forum-backend
	url = https://github.com/mrdaliselmi/forum-backend.git
